<ion-content class="has-header calm" scroll="false">
    <ion-header-bar class="bar bar-calm tituloMenu">
        <h1 class="title">Menú de navegación</h1>
    </ion-header-bar>
    <ion-list>
        <ion-item ng-repeat="item in menuppal" type="item-text-wrap" ng-click="ir(item.estado)">
           <i class="ion-ios7-copy-outline"></i>
            {{item.titulo}}
            <ion-item ng-repeat="subItem in item.items" type="item-text-wrap" ng-click="ir(subItem.estado)" class="subItem">
                {{subItem.titulo}}
            </ion-item>
        </ion-item>
    </ion-list>
</ion-content>