/*
 * Variables Bancolombia
 */

// Colors
// -------------------------------

$azul:                            $positive !default;
$azul-claro:                      $positive-light !default;
$fondo:                           $light !default;
$fondo-claro:                     #f3f3f3 !default;
$gris:                            $calm !default;
$gris-claro:                      $calm-light !default;
$gris-oscuro:                     $calm-dark !default;
$amarillo:                        $energized !default;
$amarillo-oscuro:                 $energized-dark !default;
$rojo:                            $assertive !default;
$verde:                           $balanced !default;
$negro-claro:                     $dark !default;
$negro:                           $base-color !default;
$verde:                           #008000 !default;
$radio-pequeno:                   0.5em !default;
////