/*
 * Encabezado Bancolombia
 */

alm-encabezado {
    border-style: none;
    border-width: 0;
    margin-bottom: 1em;
    width: 100%;
    
    .Encabezado{
        
        .icono-encabezado{
            font-size: 3em;
        }
        
        .contenido-encabezado.ng-binding{
            font-size: $font-size-base + 1;
            font-weight: bold;
            vertical-align: super;
        }
    }
}























