/*
 * Pagina - Estado de Cuenta - Bancolombia
 */

@import 'bancolombia';

.estado-contenido{
    font-size: $font-size-base;
    padding-bottom: 2em;
    
    .acceso{
        background-color: $gris;
        border-radius: $radio-pequeno;
        border-style: none;
        margin: 1em;
        padding: 1em;

        .subtitulo-acceso, .contenido-acceso{
            text-align: center;
        }
    }
    
    .lista-movimientos{
        margin-left: -1em;
        margin-right: -1em;
        
        .item{
            border-color: $gris-claro;
            padding-bottom: 0;
            padding-top: 0.5em;
            
            .row{
                line-height: $line-height-small;
                .col{               
                    
                    .informacion-movimiento, .concepto-movimiento{
                        text-align: left;
                    }
                    
                    .concepto-movimiento, .fecha-movimiento{
                        color: $gris-oscuro;
                        font-size: $font-size-small + 2;
                    }
                    
                    .informacion-movimiento, .valor-movimiento{
                        padding-bottom: $line-height-small;
                    }
                    
                    .valor-movimiento, .fecha-movimiento{
                        text-align: right;
                    }
                    
                    .informacion-movimiento{
                        overflow: hidden;
                    }
                    
                    .concepto-movimiento{
                        text-transform: capitalize;
                    }
                    
                    .valor-movimiento{
                        &:before{
                            content: '$';
                            margin-right: -0.25em;
                        }
                    }
                }
            }
        }
    }
}
