/*
 * Mensaje Bancolombia
 */

alm-mensaje {
    margin-bottom: 1em;
    width: 100%;
    
    .Mensaje{
        background-color: inherit;
        color: inherit;
        padding: 1em;
        
        .titulo{
            font-size: $font-size-large;
            font-weight: bolder;
            margin-bottom: $content-padding;
            padding-top: $content-padding;
            text-align: left;
        }
        
        .contenido{
            padding-bottom: $content-padding;
            text-align: justify;
            font-size: 1.25em;
        }
    }
}
























