<ion-view title="" hide-back-button="true" class="Contacto">
  <ion-content has-header="true" padding="true" has-tabs="true">
      <div class="item botonChat">
          <alm-boton boton="irAChat"></alm-boton>
      </div>
      <div class="list listaContactos">
          <div class="item descripcion">
              Si usted tiene alguna inquietud, por favor comuniquese con nuestras sucursales telefónicas.
          </div>
          <div  class="item item-icon-right" ng-repeat="item in contactos">
              <span>{{item.sucursal}} :</span>
              <span>{{item.telefono}}</span>
              <button class="button button-balanced icon ion-android-call"></button>               
          </div>
      </div>
  </ion-content>
</ion-view>