<ion-view title="Bancolombia" hide-back-button="true">
    <ion-content has-header="true" has-subheader="true" has-tabs="true" class="contenidoIngreso">
        <div class="list list-inset">
            <div class="item textoCabecera">
                <p class="tituloIngresoCabecera">Bienvenido a Ahorro a la Mano de Bancolombia</p>
                <p class="parrafoIngresoCabecera">Es una cuenta de ahorro sin cuota de manejo que funciona desde cualquier celular, la puedes abrir desde $0, el saldo mínimo es $0.</p>
            </div>
            <label class="item item-input labelInput">
                <span class="input-label ion-android-contact iconoInput"></span>
                <input class="input" type="text" placeholder="Ingrese su usuario" ng-model ="usuario" required>            
            </label>            
        </div>
        <div class="item boton">
            <alm-boton boton="validarUsuario"></alm-boton>
        </div>
        <div class="item imagenesBancolombia">
            <ion-view class="imagenesBancolombia">
                <ion-slide-box on-slide-changed="slideChanged(index)">                    
                    <ion-slide>
                        <div id="imgALM1">
                          <img class="imagen" src="../img/bannerInicio/GaleriaFotosGrandes11.png">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div id="imgALM2">
                          <img class="imagen" src="../img/bannerInicio/GaleriaFotosGrandes8.png">
                        </div>
                    </ion-slide>
                  <ion-slide>
                      <div id="imgALM3">
                          <img class="imagen" src="../img/bannerInicio/GaleriaFotosGrandes12.png">
                      </div>
                  </ion-slide>
                </ion-slide-box>
            </ion-view>
        </div>
    </ion-content>  
</ion-view>