<ion-view title="Retiro de Dinero" hide-back-button="true" class="contenedorRetiros">    
    <ion-content has-header="true" has-subheader="true" has-tabs="true" class="contenidoRetiros">
        <div class="item  item-energized subheaderRetiros">
            <!--<i class="icon ion-social-usd "></i>-->
            <h1 class="tituloRetiros">Retire dinero en cajeros electrónicos</h1>
            <p class="contenidoRetiros">Genere un pin temporal para poder retirar dinero en cajeros electrónicos.</p>
        </div> 
        <div class="list card pin">
            <div class="item item-icon-left generarPin">
                <i class="badge badge-assertive iconoBadged">1</i>
                <span class="tituloContenidoRetiros">Generar pin</span>
                <p class="mensajeContenidoRetiros">Toque el siguiente botón para generar su pin temporal.</p>
                <div>
                    <alm-boton boton="generarPin"></alm-boton>
                </div>                
            </div>         
        </div>
    </ion-content>  
</ion-view>