<ion-view title="Transferencias" hide-back-button="true" class="TransferenciaConfirmar">
    <ion-content has-header="true" padding="true" has-tabs="true">
    <div class="transferencia-contenido">
        <alm-mensaje></alm-mensaje>
        <alm-encabezado></alm-encabezado>
        <div class="transferencia-resumen">
            <div class="list transferencia-resumen-items">
                <ion-item class="item">
                    <div class="row">
                        <div class="col col-50">
                            <div class="resumen-propiedad">
                                Cuenta origen
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="resumen-valor resumen-formato-cuenta">
                                {{resumen.cuentaOrigen}}
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item">
                    <div class="row">
                        <div class="col col-50">
                            <div class="resumen-propiedad">
                                Tipo de cuenta
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="resumen-valor">
                                {{resumen.cuentaDestino}}
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item">
                    <div class="row">
                        <div class="col col-50">
                            <div class="resumen-propiedad">
                                Valor a Transferir
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="resumen-valor">
                                {{resumen.tipoCuenta}}
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item">
                    <div class="row">
                        <div class="col col-50">
                            <div class="resumen-propiedad">
                                Valor a transferir
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="resumen-valor resumen-formato-pesos">
                                {{resumen.valorTransferencia}}
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </div>
        <div class="transferencia-formulario">
            <div class="list transferencia-formulario-items">
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge badge-energized">1</span>
                    <span class="input-label">Pin para confirmar transferencia</span>
                    <input type="text" placeholder="Ingrese el código enviado por msm">
                </label>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-50">
                <alm-boton boton="botonCancelar" metodo="ir('alm.transferencia-realizar')"></alm-boton>
            </div>
            <div class="col-50">
                <alm-boton boton="botonConfirmar" metodo="ir('alm.transferencia-finalizar')"></alm-boton>
            </div>
        </div>
  </ion-content>
</ion-view>