<ion-view title="Transferencias" hide-back-button="true" class="TransferenciaRealizar">
    <ion-content has-header="true" padding="true" has-tabs="true">
    <alm-subtitulo-simple></alm-subtitulo-simple>
    
    <div class="transferencia-contenido">
        <!--
        <alm-encabezado></alm-encabezado>
        -->
        <div class="transferencia-encabezado">
            Completa el siguiente formulario para realizar el proceso de transferencia.
        </div>
        <div class="transferencia-formulario">
            <div class="list transferencia-formulario-items">
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge badge-positive">1</span>
                    <span class="input-label">Cuenta origen</span>
                    <input type="text" placeholder="John">
                </label>
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge badge-assertive">2</span>
                    <span class="input-label">Cuenta destino</span>
                    <input type="text" placeholder="Ingrese la cuenta destino">
                </label>
                <label class="item item-radio item-stacked-label transferencia-formulario-item">
                  <span class="badge badge-calm">3</span>
                   <span class="input-label formulario-span-radio">Seleccione el tipo de cuenta</span>
                    <ion-radio ng-repeat="radio in formularioRadio" ng-value="radio.valor">{{radio.contenido}}
                    </ion-radio>
                </label>
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge badge-calm">4</span>
                    <span class="input-label">Valor a transferir</span>
                    <input type="text" placeholder="Ingrese el valor a transferir">
                </label>
            </div>
        </div>
    </div>
    <alm-boton boton="botonTransaccion" metodo="ir('alm.transferencia-confirmar')"></alm-boton>
  </ion-content>
</ion-view>