//Variables

$fuente: "Trebuchet MS" !default;
$color-encabezado: #004771;
$color-encabezado-oscuro: #001410;
$color-barraTitulos: #FFCC16;
$color-botones-accion: #00448C;
$color-span-login: #CCCCCC;
$color-fondo: #F3F3F3;

//Zona Ingreso
.contenidoIngreso {
    background-color: $color-fondo;
}
.textoCabecera {
    background-color: $color-fondo;
    border-style: none;
    white-space: normal;
    .tituloIngresoCabecera {
        color: $color-encabezado;
        font-size: 1.2em;
        font-weight: bold;
        white-space: normal;
    }
    .parrafoIngresoCabecera {
        text-align: justify;
        white-space: normal;
    }
}
.labelInput {
    border-radius: 0.4em !important;
    .iconoInput {
        color: $color-span-login;
        font-size: 1.5em;
        font-weight: bold;
        padding: 0;
        text-align: left; 
        width: 3em;
    } 
    .input {
        font-size: 1em;
    }
}
.boton {
    background-color: $color-fondo;
    border-style: none;
    display: block;
    .Boton {
        text-align: right !important;
    }
}
.imagenesBancolombia {
    background-color: $color-fondo;
    border: 0;
    border-style: none;
    padding: 50% ;
    .imagen {
        height: 10%;
        width: 90%;
    }
    .slider {
        height: 90%;
    }
    .slider-slide {
        color: $color-encabezado;
        text-align: center;
    }
    .slider-pager {
        bottom: 20% !important;
        .slider-pager-page {
            color: $color-encabezado;
        }
    }
}


//Zona Transacciones Disponibles

.modalTransacciones {
    background-color: #F3F3F3;
    border-radius: 0.4em !important;
    left: 1.3em;
    min-height: 90%;
    top: 3.5em;
    width: 90%;
    .headerTransacciones {
        border: 0;
        border-radius: 0.4em !important;        
        border-style: none;
        .botonCerrarTransacciones{
            background-color: #F3F3F3;
            border-style: none;
            padding: 0;
            text-align: right;
            .btnCerrar {
                color: Firebrick;
                font-size: 1.5em
            }
        }
        
    }
    .contenidoTransacciones { 
        background-color: #F3F3F3;
        margin: 0.5em;
        .itemTransacciones {
            background-color: #F3F3F3;
        }
        .tituloTransaccion {
            font-size: 1em;
        } 
        .descripcionTransaccion {
            font-size: 0.8em;
            white-space: normal;
        }
        .colorIcono {
            background-image: url('/www/img/icons.png');
            background-position: -32px -32px;
            background-repeat: no-repeat;
            background-size: 10em;
            color: $color-encabezado;
            left: 0;
            width: 300px;
            height: 300px;
        }
        .iconoFlecha {
            color: $color-encabezado;
        }
    }
}

//Zona Retiros 
.contenedorRetiros {
    background-color: $color-fondo;
}
.contenidoRetiros {
    .subheaderRetiros {
        height: auto;
        padding: 2em;
        text-align: center;
        white-space: normal;
        .tituloRetiros {
            color: $color-encabezado-oscuro;
            font-size: 1.1em;
            font-weight: bold;
            text-align: center;            
            white-space: normal;
        }
        .contenidoRetiros {
            font-size: 1em;
            text-align: center;
            white-space: normal;
        }
    }
    .generarPin {
        border-radius: 0.4em;
        border-style: none;
        box-shadow: none;
        .iconoBadged {
            background-color: $color-encabezado;
            display: inline-block;
            left: 0;
            margin-left: 1em;
            right: initial;
        }
        .tituloContenidoRetiros {
            color: $color-encabezado-oscuro;
            font-size: 1em;
            font-weight: bold;
        }
        .mensajeContenidoRetiros {
            color: $color-encabezado-oscuro;
            padding-bottom: 3em;
            padding-top: 2em; 
            text-align: justify;
            white-space: normal;
        }
    }  
    .pin {
        box-shadow: none;
    }
}

.mensajeRetiroFinalizar {
     background-color: inherit;
    .mensaje {
        background-color: lightgreen;
        padding: 3em;
        text-align: justify;
        white-space: normal; 
        .iconoMensaje {
            color: green;
            font-size: 5em;
        }
        .textoMensaje {
            color: green;
            padding-left: 3em;
            font-weight: bold;
            white-space: normal;
        }
    }
    .mensajeInstructivo {
        background-color: inherit;
        border-style: none;
        padding: 3em;
        text-align: justify;
        white-space: normal;
    }
    .botonCancelar {
        background-color: inherit;
        border-style: none;
    }
}
.botonesRetirosFooter {
    background-color: $color-fondo;
    .botonIzquierdo {
        position: absolute;
        left: 0;
    }
    .botonDerecho {
        position: absolute;
        right: 0;
    }
}

//Zona Contacto

.MenuPopover,
.contenidoPopover,
.botonChat,
.listaContactos {
    background-color: $color-fondo !important;
}
.botonChat {
    border-style: none;
    margin: 2em;
}
.listaContactos {
    vertical-align: center;
    .descripcion {
        background-color:  $color-fondo;
        padding: 0 2em 2em 2em;
        text-align: justify;
        white-space: normal;
    }
    .itemContanto {
        background-color:  $color-fondo;
    }
    .botonContacto {
        border-style: none;
        height: 1em; 
        margin: 0.1em;
        width: 1em;
    }
}

